{% extends 'main.html' %}

{% block content %}
  <main class="inbox my-xl">
    <div class="content-box">
      <h3 class="inbox__title">New Messages(<span>{{unread_count}}</span>)</h3>
      <ul class="messages">
        {% if unread %}
        {% for message in unread %}
        <li class="message message--unread">
          <a href="{% url 'single_message_receive' message.id %}">
            <span class="message__author">{{message.sender}}</span>
            <span class="message__subject">{{message.subject}}</span>
            <span class="message__date">{{message.created}}</span>
          </a>
        </li>
        {% endfor %}
        {% endif %}
        {% if read %}
        {% for message in read %}
        <li class="message">
          <a href="{% url 'single_message_receive' message.id %}">
            <span class="message__author">{{message.sender}}</span>
            <span class="message__subject">{{message.subject}}</span>
            <span class="message__date">{{message.created}}</span>
          </a>
        </li>
        {% endfor %}
        {% endif %}
        {% if not read and not unread %}
        <p style="color: red;">No messages</p>
        {% endif %}
      </ul> </br></br>

      <h3 class="inbox__title">Sent Messages(<span>{{sent_count}}</span>)</h3>
      <ul class="messages">
        {% if sent_msg %}
        {% for message in sent_msg %}
        <li class="message">
          <a href="{% url 'single_message_sent' message.id %}">
            <span class="message__author">{{message.receiver}}</span>
            <span class="message__subject">{{message.subject}}</span>
            <span class="message__date">{{message.created}}</span>
          </a>
        </li>
        {% endfor %}
        {% else %}
        
        <p style="color: red;">No sent messages</p>
        {% endif %}
      </ul>
    </div>
  </main>
  {% endblock content %}
